@import "../js/libs/materialize/sass/components/mixins";

//*************************
//******* VARIABLES *******
//*************************
$colorFormFocus: #9094BA;
$colorHref: #9094BA;

//************************
//******* SETTINGS *******
//************************
a {
    color: $colorHref;
}

.btn {
    -webkit-box-shadow: none;
    box-shadow: none;

    &:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.btn-floating {
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;

    &:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

//**********************
//******* LAYOUT *******
//**********************
body {
    background: url('../images/bg.jpg') no-repeat 50% 10% fixed;
    background-size: cover;
    position: relative;
}

#app-wrapper {
    padding-top: 20px;
    opacity: .95;
}

header {

    h1 {
        margin: 1rem 0 1.5rem;

        @media only screen and (max-width: 600px) {
            font-size: 3rem;
        }
        @media only screen and (max-width: 400px) {
            font-size: 2rem;
        }

        a {
            color: #fff;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

#app-main {
    padding-top: 20px;

    .app-title-page {

        h4 {
            margin-bottom: 40px;
        }
    }
}

.app-auth {

    .right-align a:hover {
        text-decoration: underline;
    }
}

.app-collection {

    .collection-item.avatar {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;

        .secondary-content {
            top: 20px;
        }
    }

    .title {
        font-weight: 600;
        padding-right: 140px;
        display: block;
    }

    .btn-floating {
        float: left;
        margin-left: 4px;
    }

    .like {
        cursor: pointer;
        @include touch;
    }
}

.app-actions {
    margin-bottom: 10px;

    .app-title-page h4 {
        margin-bottom: 60px !important;
    }

    .row {
        height: 36px;
        margin-bottom: 0;

        .btn-add {
            margin-bottom: 0;
            float: left;
        }

        p {
            display: inline-block;
            padding: 7px 0 0;
            margin: 0 10px 0 0;
            font-weight: 600;
            float: left;
        }

        .order {

            .btn-floating {
                float: left;
                margin-left: 4px;
            }
        }

        .search {
            margin-bottom: 0;

            input {
                margin-bottom: 0;
                background: #fff;
                padding: 0 15px;
                @include border-box;
                border: 1px solid #fff;
                height: 36px;
                @include transition(.3s);

                &:focus {
                    border-color: #EF5350;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            }
        }
    }
}

.app-items-pagination {
    text-align: center;

    ul {
        display: inline-block;
        
        li {
            
            &.active {
                background: #999;
            }

            a,i {
                line-height: 30px;
            }
        }
    }
}

.app-details {

    .app-details-content {
        background: #fff;
        padding-bottom: 15px;
        padding-top: 10px;

        p {

            &.title {
                font-size: 20px;
            }

            strong {
                color: #EF5350;
                font-weight: 600;
            }
        }
    }
}

.app-form {

    label {
        font-size: 1.1rem;
        color: #EF5350;
        font-weight: 600;
        margin-bottom: 5px;
        display: block;
    }

    input {
        background: #fff;
        padding-left: 15px;
        padding-right: 15px;
        @include border-box;
        border: 1px solid #ccc;
        color: #000;
        
        &:focus {
            border-color: #EF5350;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }

    textarea {
        background: #fff;
        height: 200px;
        width: 100%;
        padding: 15px;
        border: 1px solid #ccc;
        outline: none;
        color: #000;
        @include transition(.3s);

        &:focus {
            border-color: #EF5350;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}

footer {

    .copy {
        color: #fff;

        a {
            color: #ef5350;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//***********************
//******* HELPERS *******
//***********************
.center-btn {
    text-align: center;
}

//****************************************
//******* OVERRIDE MATERIALIZE CSS *******
//****************************************

/* icon prefix focus color */
.input-field .prefix.active {
    color: $colorFormFocus;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field textarea:focus + label,
.input-field input[type=password]:focus + label {
    color: $colorFormFocus;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field textarea:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid $colorFormFocus;
    box-shadow: 0 1px 0 0 $colorFormFocus;
}

//****************************************
//******* OVERRIDE MARKITUP CSS **********
//****************************************

.markItUpHeader {
    margin: 5px 0;
    display: inline-block;
}

.markItUp {
    margin: 0;
    width: 100%;
}