a {
  color: #9094BA;
}

.btn {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-floating {
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.btn-floating:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

body {
  background: url("../images/bg.jpg") no-repeat 50% 10% fixed;
  background-size: cover;
  position: relative;
}

#app-wrapper {
  padding-top: 20px;
  opacity: .95;
}

header h1 {
  margin: 1rem 0 1.5rem;
}
@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 400px) {
  header h1 {
    font-size: 2rem;
  }
}
header h1 a {
  color: #fff;
}
header h1 a:hover {
  text-decoration: none;
}

#app-main {
  padding-top: 20px;
}
#app-main .app-title-page h4 {
  margin-bottom: 40px;
}

.app-auth .right-align a:hover {
  text-decoration: underline;
}

.app-collection .collection-item.avatar {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.app-collection .collection-item.avatar .secondary-content {
  top: 20px;
}
.app-collection .title {
  font-weight: 600;
  padding-right: 140px;
  display: block;
}
.app-collection .btn-floating {
  float: left;
  margin-left: 4px;
}
.app-collection .like {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.app-actions {
  margin-bottom: 10px;
}
.app-actions .app-title-page h4 {
  margin-bottom: 60px !important;
}
.app-actions .row {
  height: 36px;
  margin-bottom: 0;
}
.app-actions .row .btn-add {
  margin-bottom: 0;
  float: left;
}
.app-actions .row p {
  display: inline-block;
  padding: 7px 0 0;
  margin: 0 10px 0 0;
  font-weight: 600;
  float: left;
}
.app-actions .row .order .btn-floating {
  float: left;
  margin-left: 4px;
}
.app-actions .row .search {
  margin-bottom: 0;
}
.app-actions .row .search input {
  margin-bottom: 0;
  background: #fff;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #fff;
  height: 36px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.app-actions .row .search input:focus {
  border-color: #EF5350;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.app-items-pagination {
  text-align: center;
}
.app-items-pagination ul {
  display: inline-block;
}
.app-items-pagination ul li.active {
  background: #999;
}
.app-items-pagination ul li a, .app-items-pagination ul li i {
  line-height: 30px;
}

.app-details .app-details-content {
  background: #fff;
  padding-bottom: 15px;
  padding-top: 10px;
}
.app-details .app-details-content p.title {
  font-size: 20px;
}
.app-details .app-details-content p strong {
  color: #EF5350;
  font-weight: 600;
}

.app-form label {
  font-size: 1.1rem;
  color: #EF5350;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}
.app-form input {
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  color: #000;
}
.app-form input:focus {
  border-color: #EF5350;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.app-form textarea {
  background: #fff;
  height: 200px;
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  outline: none;
  color: #000;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.app-form textarea:focus {
  border-color: #EF5350;
  -webkit-box-shadow: none;
  box-shadow: none;
}

footer .copy {
  color: #fff;
}
footer .copy a {
  color: #ef5350;
}
footer .copy a:hover {
  text-decoration: underline;
}

.center-btn {
  text-align: center;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #9094BA;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field textarea:focus + label,
.input-field input[type=password]:focus + label {
  color: #9094BA;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field textarea:focus,
.input-field input[type=password]:focus {
  border-bottom: 1px solid #9094BA;
  box-shadow: 0 1px 0 0 #9094BA;
}

.markItUpHeader {
  margin: 5px 0;
  display: inline-block;
}

.markItUp {
  margin: 0;
  width: 100%;
}

/*# sourceMappingURL=app.css.map */
