<div class="row app-items-pagination">
    <div class="col m12">
        <ul class="pagination">
            <li class="disabled"><a href="#"><i class="mdi-navigation-chevron-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li class="waves-effect"><a href="#">2</a></li>
            <li class="waves-effect"><a href="#">3</a></li>
            <li class="waves-effect"><a href="#">4</a></li>
            <li class="waves-effect"><a href="#">5</a></li>
            <li class="waves-effect"><a href="#"><i class="mdi-navigation-chevron-right"></i></a></li>
        </ul>
    </div>
</div>