<i data-position="top" class="mdi-action-receipt circle <% if( favourite === 'true' ) { %>green<% } %> waves-effect waves-light like tooltipped"></i>
<span class="title"><%= title %></span>
<p>Added: <%= date %></p>
<p class="secondary-content">
    <button data-position="top" data-tooltip="Details" class="btn-floating btn-tiny waves-effect waves-light blue-grey darken-2 btn-details tooltipped">
        <i class="mdi-image-remove-red-eye"></i>
    </button>
    <button data-position="top" data-tooltip="Edit" class="btn-floating btn-tiny waves-effect waves-light blue-grey darken-2 btn-edit tooltipped">
        <i class="mdi-editor-mode-edit"></i>
    </button>
    <button data-position="top" data-tooltip="Remove" class="btn-floating btn-tiny waves-effect waves-light red darken-2 btn-remove tooltipped">
        <i class="mdi-action-delete"></i>
    </button>
</p>