<div class="col s12 app-details">
    <div class="row app-title-page">
        <div class="col s12">
            <h4 class="center-align">Recipe details</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1 center-align">
            <button class="btn waves-effect waves-light blue-grey darken-2 btn-back">
                <i class="mdi-navigation-arrow-back left"></i>Go to recipes
            </button>
            <button class="btn waves-effect waves-light green btn-edit">Edit</button>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1 app-details-content">
            <p class="title"><strong><%= title %></strong></p>
            <p class="ingredients-title"><strong>Ingredients:</strong></p>
            <ol class="ingredients-content">
                <%= ingredients %>
            </ol>
            <p class="description-title"><strong>Description:</strong></p>
            <p class="description-content">
                <%= description.replace(/\n/g, '<br>') %>
            </p>
        </div>
    </div>
</div>