<div class="col m12">
    <div class="row app-title-page">
        <div class="col m12">
            <% if(this.model.isNew()) { %>
                <h4 class="center-align">Add new recipe</h4>
            <% } else { %>
                <h4 class="center-align">Edit recipe</h4>
            <% } %>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1 center-align">
            <button class="btn waves-effect waves-light blue-grey darken-2 btn-back"><i class="mdi-navigation-arrow-back left"></i>Back to recipes</button>
        </div>
    </div>
    <form class="app-form" action="">
        <div class="row">
            <div class="col s10 offset-s1">
                <label for="title">Title:</label>
                <input id="title" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1">
                <label for="ingredients">Ingredients:</label>
                <textarea id="ingredients"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1">
                <label for="description">Description:</label>
                <textarea id="description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1">
                <% if(this.model.isNew()) { %>
                    <input id="date" type="text">
                <% } %>
                <button type="submit" class="btn waves-effect waves-light green btn-save">Save</button>
            </div>
        </div>
    </form>
</div>