<div class="col m12 app-actions">

    <div class="row app-title-page">
        <div class="col m12">
            <h4 class="center-align">My recipes</h4>
        </div>
    </div>

    <div class="row">
        <div class="col m3">
            <button class="btn btn-tiny waves-effect waves-light blue-grey darken-2 btn-add">Add new recipe</button>
        </div>
        <div class="col m4 order">
            <p>Order by: </p>

            <button data-position="top" data-tooltip="Ascending" class="btn-floating btn-tiny waves-effect waves-light blue-grey darken-2 btn-ascending tooltipped">
                <i class="mdi-hardware-keyboard-arrow-up"></i>
            </button>
            <button data-position="top" data-tooltip="Descending" class="btn-floating btn-tiny waves-effect waves-light blue-grey darken-2 btn-descending tooltipped">
                <i class="mdi-hardware-keyboard-arrow-down"></i>
            </button>
            <button data-position="top" data-tooltip="Favourite" class="btn-floating btn-tiny waves-effect waves-light green btn-favourite tooltipped">
                <i class="mdi-action-favorite"></i>
            </button>
        </div>
        <div class="col m5 search">
            <input id="search" type="text" placeholder="Search...">
        </div>
    </div>

</div>